img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('../img/action-adult-bike-417005.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 85.7vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.card-item {
  transition: 0.6s all;
}
.card-item:hover {
  transform: scale(1.05);
}
.card-title {
  color: white;
}

.props {
  font-size: 130%;
}

.bar-chart {
  overflow-y: hidden;
}
.bar-chart:hover {
  overflow-y: overlay;
}

.expansion-list {
  list-style: none;
}

.all-btn {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.btn-sal {
  margin-left: auto;
}

.pie-chart {
  margin-top: -30px;
  margin-left: auto;
  padding-left: 10px;
}


@media screen and (max-width: 992px) {
  .display-card {
    text-align: center;
  }
  .display-card > .col-lg-2 > img {
    width: 13em;
  }
  .pie-chart-container {
    text-align: center;
  }
  .pie-chart {
    display: inline-block;
  }
}
